{{/*
#  ============LICENSE_START=======================================================
#   Copyright (C) 2023,2025 Nordix Foundation.
#  ================================================================================
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
#  SPDX-License-Identifier: Apache-2.0
#  ============LICENSE_END=========================================================
*/}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: default
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    app.kubernetes.io/instance: RELEASE
    app.kubernetes.io/managed-by: Helm
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Chart.Name }}
      app.kubernetes.io/instance: RELEASE
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Chart.Name }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
        app.kubernetes.io/instance: RELEASE
        app.kubernetes.io/managed-by: Helm

    spec:
      initContainers:
      - command:
        - /app/ready.py
        args:
        - --job-name
        - policy-pg-config
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        image: {{ .Values.global.repository }}/{{ .Values.global.image.readiness }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        name: {{ .Chart.Name }}-readiness
      - command:
        - sh
        args:
        - -c
        - "cd /config-input && for PFILE in `ls -1`; do envsubst <${PFILE} >/config/${PFILE}; done"
        env:
        - name: SQL_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-db-secret
              key: login
        - name: SQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-db-secret
              key: password
        - name: RESTSERVER_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-restserver-secret
              key: login
        - name: RESTSERVER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-restserver-secret
              key: password
        - name: API_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-api-secret
              key: login
        - name: API_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-api-secret
              key: password
        - name: DISTRIBUTION_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-distribution-secret
              key: login
        - name: DISTRIBUTION_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}-distribution-secret
              key: password

        volumeMounts:
        - mountPath: /config-input
          name: papconfig
        - mountPath: /config
          name: papconfig-processed
        image: docker.io/dibi/envsubst:1
        imagePullPolicy: {{ .Values.pullPolicy }}
        name: {{ .Chart.Name }}-update-config
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.global.repository }}/{{ .Values.global.image.pap }}
          imagePullPolicy: {{ .Values.global.pullPolicy }}
          command: ["/opt/app/policy/pap/bin/policy-pap.sh"]
          args: ["/opt/app/policy/pap/etc/mounted/papParameters.yaml"]
          ports:
            - containerPort: 6969
              name: http-api
          # disable liveness probe when breakpoints set in debugger
          # so K8s doesn't restart unresponsive container
          {{- if eq .Values.liveness.enabled true }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.liveness.port }}
            initialDelaySeconds: {{ .Values.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.liveness.periodSeconds }}
          {{ end -}}
          readinessProbe:
            httpGet:
              path: {{ .Values.readiness.api }}
              port: {{ .Values.readiness.port }}
              httpHeaders:
                - name: Authorization
                  value: Basic {{ printf "%s:%s" .Values.restServer.user .Values.restServer.password | b64enc }}
              scheme: HTTP
            successThreshold: {{ .Values.readiness.successThreshold }}
            failureThreshold: {{ .Values.readiness.failureThreshold }}
            initialDelaySeconds: {{ .Values.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.readiness.timeout }}
          volumeMounts:
          - mountPath: /etc/localtime
            name: localtime
            readOnly: true
          - mountPath: /opt/app/policy/pap/etc/mounted
            name: papconfig-processed
          resources:
{{ toYaml .Values.resources.small | indent 12 }}
        {{- if .Values.nodeSelector }}
        nodeSelector:
{{ toYaml .Values.nodeSelector | indent 10 }}
        {{- end -}}
        {{- if .Values.affinity }}
        affinity:
{{ toYaml .Values.affinity | indent 10 }}
        {{- end }}
      serviceAccountName: {{ .Chart.Name }}-read
      volumes:
        - name: localtime
          hostPath:
             path: /etc/localtime
        - name: papconfig
          configMap:
            name: {{ .Chart.Name }}-configmap
            defaultMode: 0755
        - name: papconfig-processed
          emptyDir:
            medium: Memory
      imagePullSecrets:
      - name: "default-docker-registry-key"
