# Copyright © 2022-2025 Nordix Foundation
#
# Modifications Copyright © 2024 Deutsche Telekom
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#       SPDX-License-Identifier: Apache-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v2
description: ONAP Policy
name: policy
version: 11.0.1

dependencies:
  - name: postgres
    version: ~11.x-0
    repository: 'file://components/postgres'
    condition: postgres.enabled
  - name: policy-clamp-ac-k8s-ppnt
    version: ~11.x-0
    repository: 'file://components/policy-clamp-ac-k8s-ppnt'
    condition: policy-clamp-ac-k8s-ppnt.enabled
  - name: policy-clamp-runtime-acm
    version: ~11.x-0
    repository: 'file://components/policy-clamp-runtime-acm'
    condition: policy-clamp-runtime-acm.enabled
  - name: policy-models-simulator
    version: ~11.x-0
    repository: 'file://components/policy-models-simulator'
    condition: policy-models-simulator.enabled
  - name: policy-api
    version: ~11.x-0
    repository: 'file://components/policy-api'
    condition: policy-api.enabled
  - name: policy-pap
    version: ~11.x-0
    repository: 'file://components/policy-pap'
    condition: policy-pap.enabled
  - name: policy-apex-pdp
    version: ~11.x-0
    repository: 'file://components/policy-apex-pdp'
    condition: policy-apex-pdp.enabled
  - name: policy-clamp-ac-pf-ppnt
    version: ~11.x-0
    repository: 'file://components/policy-clamp-ac-pf-ppnt'
    condition: policy-clamp-ac-pf-ppnt.enabled
  - name: policy-drools-pdp
    version: ~11.x-0
    repository: 'file://components/policy-drools-pdp'
    condition: policy-drools-pdp.enabled
  - name: policy-opa-pdp
    version: ~11.x-0
    repository: 'file://components/policy-opa-pdp'
    condition: policy-opa-pdp.enabled
  - name: policy-xacml-pdp
    version: ~11.x-0
    repository: 'file://components/policy-xacml-pdp'
    condition: policy-xacml-pdp.enabled
  - name: policy-distribution
    version: ~11.x-0
    repository: 'file://components/policy-distribution'
    condition: policy-distribution.enabled
  - name: policy-clamp-ac-http-ppnt
    version: ~11.x-0
    repository: 'file://components/policy-clamp-ac-http-ppnt'
    condition: policy-clamp-ac-http-ppnt.enabled
  - name: policy-clamp-ac-sim-ppnt
    version: ~11.x-0
    repository: 'file://components/policy-clamp-ac-sim-ppnt'
    condition: policy-clamp-ac-sim-ppnt-1.enabled
    alias: policy-clamp-ac-sim-ppnt-1
  - name: policy-clamp-ac-sim-ppnt
    version: ~11.x-0
    repository: 'file://components/policy-clamp-ac-sim-ppnt'
    condition: policy-clamp-ac-sim-ppnt-2.enabled
    alias: policy-clamp-ac-sim-ppnt-2
  - name: policy-clamp-ac-sim-ppnt
    version: ~11.x-0
    repository: 'file://components/policy-clamp-ac-sim-ppnt'
    condition: policy-clamp-ac-sim-ppnt-3.enabled
    alias: policy-clamp-ac-sim-ppnt-3
  - name: policy-clamp-ac-kserve-ppnt
    version: ~11.x-0
    repository: 'file://components/policy-clamp-ac-kserve-ppnt'
    condition: policy-clamp-ac-kserve-ppnt.enabled
  - name: policy-clamp-ac-a1pms-ppnt
    version: ~11.x-0
    repository: 'file://components/policy-clamp-ac-a1pms-ppnt'
    condition: policy-clamp-ac-a1pms-ppnt.enabled
  - name: jaeger-all-in-one
    version: 0.1.12
    repository: https://raw.githubusercontent.com/hansehe/jaeger-all-in-one/master/helm/charts
    alias: jaeger
    condition: jaeger.enabled
