{{/*
#  ============LICENSE_START=======================================================
#   Copyright (C) 2023-2026 OpenInfra Foundation Europe. All rights reserved.
#  ================================================================================
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
#  SPDX-License-Identifier: Apache-2.0
#  ============LICENSE_END=========================================================
*/}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: default
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    app.kubernetes.io/instance: release
    app.kubernetes.io/managed-by: Helm
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Chart.Name }}
      app.kubernetes.io/instance: release
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Chart.Name }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
        app.kubernetes.io/instance: release
        app.kubernetes.io/managed-by: Helm
        name: {{ .Chart.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.global.repository }}/{{ .Values.global.image.httpparticipant }}
          imagePullPolicy: {{ .Values.global.pullPolicy | default .Values.pullPolicy }}
          env:
            - name: HTTP_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Chart.Name }}-restserver-secret
                  key: login
            - name: HTTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Chart.Name }}-restserver-secret
                  key: password
            - name: SERVER_PORT
              value: "8084"
            - name: topicCommInfrastructure
              value: kafka
            - name: kafkaServer
              value: "{{ .Values.global.kafkaServer }}:9092"
          {{- $jaegerEnabled := tpl "policy-clamp-ac-http-ppnt.jaeger-enabled" . | trimSuffix "\n" -}}
          {{- if $jaegerEnabled }}
            - name: allowTracing
              value: "true"
            - name: jaegerProducerType
              value: {{ .Values.jaeger.producer.type | quote }}
            - name: jaegerSamplingProbability
              value: {{ .Values.jaeger.sampling.probability | quote }}
            - name: tracingExporterEndpoint
              value: {{ .Values.jaeger.collector.host }}:{{ include "policy-clamp-ac-http-ppnt.exporter-port" . }}
            - name: tracingExporterProtocol
              value: {{ .Values.jaeger.collector.protocol }}
            - name: tracingSamplerEndpoint
              value: "{{ .Values.jaeger.collector.host }}:{{ .Values.jaeger.collector.portJaegerGrpc }}"
            - name: OTEL_SERVICE_NAME
              value: {{ .Values.applicationName }}
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: {{ include "policy-clamp-ac-http-ppnt.jaeger-protocol" . }}
            - name: OTEL_EXPORTER_OTLP_TRACES_PROTOCOL
              value: {{ include "policy-clamp-ac-http-ppnt.jaeger-protocol" . }}
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: {{ printf "%s:%s" (.Values.jaeger.collector.host) (include "policy-clamp-ac-http-ppnt.exporter-port" .) }}
            - name: OTEL_JAVA_GLOBAL_AUTOCONFIGURE_ENABLED
              value: "true"
          {{- end }}
          ports:
            - containerPort: 8084
              name: http-api
          # disable liveness probe when breakpoints set in debugger
          # so K8s doesn't restart unresponsive container
          {{- if eq .Values.liveness.enabled true }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.liveness.port }}
            initialDelaySeconds: {{ .Values.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.liveness.periodSeconds }}
          {{ end -}}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.readiness.port }}
            initialDelaySeconds: {{ .Values.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.readiness.periodSeconds }}
          volumeMounts:
          - mountPath: /etc/localtime
            name: localtime
            readOnly: true
          resources:
{{ toYaml .Values.resources.small | indent 12 }}
        {{- if .Values.nodeSelector }}
        nodeSelector:
{{ toYaml .Values.nodeSelector | indent 10 }}
        {{- end -}}
        {{- if .Values.affinity }}
        affinity:
{{ toYaml .Values.affinity | indent 10 }}
        {{- end }}
      serviceAccountName: {{ .Chart.Name }}-read
      volumes:
        - name: localtime
          hostPath:
             path: /etc/localtime
      imagePullSecrets:
      - name: "default-docker-registry-key"
