#  ============LICENSE_START=======================================================
#   Copyright (C) 2024-2025 OpenInfra Foundation Europe. All rights reserved.
#  ================================================================================
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
#  SPDX-License-Identifier: Apache-2.0
#  ============LICENSE_END=========================================================

#################################################################
# Global configuration defaults.
#################################################################
global:
  persistence: {}
  aafEnabled: false

#################################################################
# Application configuration defaults.
#################################################################
# application image
pullPolicy: Always

# application configuration
restServer:
  user: participantUser
  password: zb!XztG34

# flag to enable debugging - application support required
debugEnabled: false

# default number of instances
replicaCount: 1

nodeSelector: {}

affinity: {}
ingress:
  enabled: false

# probe configuration parameters
liveness:
  initialDelaySeconds: 50
  periodSeconds: 10
  failureThreshold: 10
  # necessary to disable liveness probe when setting breakpoints
  # in debugger so K8s doesn't restart unresponsive container
  enabled: true
  port: sim-api

readiness:
  initialDelaySeconds: 50
  periodSeconds: 10
  failureThreshold: 10
  port: sim-api

service:
  type: ClusterIP
  name: policy-clamp-ac-sim-ppnt
  useNodePortExt: true
  ports:
    name: sim-api
    port: 6969
    nodePort: 42

flavor: small
resources:
  small:
    limits:
      cpu: 1
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 1Gi
  unlimited: {}
#Pods Service Account
serviceAccount:
  nameOverride: policy-clamp-ac-sim-ppnt
  roles:
    - read

jaeger:
  service:
    name: jaeger
  enabled: true
  sampling:
    probability: "1.0"
  producer:
    type: "[B3,W3C,B3_MULTI]"
  collector:
    protocol: grpc
    host: "http://jaeger"
    portOtlpGrpc: 4317
    portOtlpHttp: 4318
    portJaegerGrpc: 14250

applicationName: sim-ppnt
participantId: 101c62b3-8918-41b9-a747-d21eb79c6c90
groupId: policy-clamp-ac-sim-ppnt
supportedElementTypeName: org.onap.policy.clamp.acm.SimAutomationCompositionElement
